<audio id="notrickroll" controls style="display:none">
    <source src="/static/assets/notrickrolllol.mp3" type="audio/mpeg"> Your browser does not support audio.
</audio>
<script>
    let musicEasterEgg = false;
    document.addEventListener('keydown', function(e) {
        if ((e.keyCode === 220) && musicEasterEgg === false) {
            document.getElementById('notrickroll').play();
            musicEasterEgg = true;
        }
        {#else if ((e.keyCode === 32) && musicSpace === true) {#}
        {#    document.getElementById('notrickroll').pause();#}
        {#    musicSpace = false;#}
        {# }#}
    }
    );
</script>