<!-- Extending the predefined project layout -->
<!-- Custom file for standardizing Project Data
This HTML is setup as as a Jinja2 layout, coders use layouts for:
 ... standardization of style
 ... setting expectations for data
 ... code reuse
-->
<!DOCTYPE HTML>
<html lang="en">
{% include "layouts/base.html" %}


<audio id="longDay" controls style="display:none">
    <source src="/static/assets/Long%20Day.mp3" type="audio/mpeg"> Your browser does not support audio.
</audio>
<audio id="footsteps" controls style="display:none">
    <source src="/static/assets/Footsteps.mp3" type="audio/mpeg"> Your browser does not support audio.
</audio>
<audio id="notrickroll" controls style="display:none">
    <source src="/static/assets/notrickrolllol.mp3" type="audio/mpeg"> Your browser does not support audio.
</audio>
<audio id="xuehuapiaopiao" controls style="display:none">
    <source src="/static/assets/一剪梅.mp3" type="audio/mpeg"> Your browser does not support audio.
</audio>

<script>
    //https://stackoverflow.com/questions/43958637/how-to-play-a-sound-on-key-press-in-javascript
    let music1 = false;
    let musicEasterEgg = false;
    let musicCEasterEgg = false;
    document.addEventListener('keydown', function(e) {
        if ((e.keyCode === 49) && music1 === false) {
            document.getElementById('longDay').play();
            music1 = true;
        }
        else if ((e.keyCode === 49) && music1 === true){
            document.getElementById('longDay').pause();
            music1 = false;
        }
        if ((e.keyCode === 220) && musicEasterEgg === false) {
            document.getElementById('notrickroll').play();
            musicEasterEgg = true;
        }
        {#else if ((e.keyCode === ) 220&& musicEasterEgg === true) {#}
        {#    document.getElementById('notrickroll').pause();#}
        {#    musicEasterEgg = false;#}
        {# }#}
        if ((e.keyCode === 192) && musicCEasterEgg === false) {
            document.getElementById('xuehuapiaopiao').play();
            musicCEasterEgg = true;
        }
        {#else if ((e.keyCode === 192) && musicCEasterEgg === true) {#}
        {#    document.getElementById('xuehuapiaopiao').pause();#}
        {#    musicCEasterEgg = false;#}
        {# }#}
    });
</script>

<head>
    <title>Playground | Games </title>
</head>

<body style="background-color:black; background-image:none">
<!- Try building a new body here ->
</body>

</html>