<!-- Extending the predefined project layout -->
<!-- Custom file for standardizing Project Data
This HTML is setup as as a Jinja2 layout, coders use layouts for:
 ... standardization of style
 ... setting expectations for data
 ... code reuse
-->
<!DOCTYPE HTML>
<html lang="en">






<head>
    {% include "layouts/defaultbackground.html" %}
    <title>Playground | Games </title>

</head>

<body>
<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
{% include "layouts/navbar.html" %}


<!- Try building a new body here ->
<h1><strong>Games</strong></h1>
<h4 style="color:FireBrick;">Welcome to the Playground!</h4>
<p>You are at the “Games” screen of this website. This is where you will play games. </p>


    <div class="container p-3 my-3 bg-black text-light rounded" style="box-shadow: yellow">
        <div class="row p-3 my-3 bg-black text-light rounded">
            <div class="col-3 my-3 bg-light text-dark rounded" style="text-align: center" >Play <a href="https://playtictactoe.org/">Tic Tac Toe</a>!<br>
                <p>Difficulty: 1/5</p>
                <a href="https://playtictactoe.org/"> <embed type="image/jpg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Tic_tac_toe.svg/1200px-Tic_tac_toe.svg.png" width="160" height="160"></a>
                <p>Roll a tac and see what toe you get!</p>
            </div>
            <div class="col-1"></div>
            <div class="col-3 my-3 bg-light text-dark rounded">game2</div>
            <div class="col-1"></div>
            <div class="col-3 my-3 bg-light text-dark rounded">game3</div>
            <div class="col-1"></div>
            <div class="col-12"><br></div>
            <div class="col-12"><br></div>
            <div class="col-12"><br></div>
            <div class="col-3 my-3 bg-light text-dark rounded">Play <a href="#">Dice Roll</a>! Roll a dice and see what number you get!<br><br><br><br><br><br><br><br><br><br></div>
            <div class="col-1"></div>
            <div class="col-3 my-3 bg-light text-dark rounded">game3</div>
            <div class="col-1"></div>
            <div class="col-3 my-3 bg-light text-dark rounded">game3</div>
            <div class="col-1"></div>
            <div class="col-12"><br></div>
            <div class="col-12"><br></div>
            <div class="col-12"><br></div>
            <div class="col-3 my-3 bg-light text-dark rounded">Play <a href="#">Dice Roll</a>! Roll a dice and see what number you get!<br><br><br><br><br><br><br><br><br><br></div>
            <div class="col-1"></div>
            <div class="col-3 my-3 bg-light text-dark rounded">game3</div>
            <div class="col-1"></div>
            <div class="col-3 my-3 bg-light text-dark rounded">game3</div>
        </div>
    </div>

</body>

</html>