<!-- Extending the predefined project layout -->
<!-- Custom file for standardizing Project Data
This HTML is setup as as a Jinja2 layout, coders use layouts for:
 ... standardization of style
 ... setting expectations for data
 ... code reuse
-->
<!DOCTYPE HTML>
<html lang="en">
{% include "layouts/base.html" %}





<head>
    <title>Playground | Games </title>

</head>

<body>


<!- Try building a new body here ->
<h1><strong>Rock Paper Scissors</strong></h1>
<h4 style="color:FireBrick;">Welcome to the Playground!</h4>
<p>Select either Rock, Paper, or Scissors.</p>
<h4><strong>Reload the page to play again!</strong></h4>

<script>

    var userChoice = prompt("Do you choose rock, paper or scissors?");
    var computerChoice = Math.random();
    if (computerChoice <0.34){
        computerChoice = "rock";
    }else if(computerChoice <=0.67){
        computerChoice = "paper";
    }else{
        computerChoice = "scissors";
    }
    var  compare = function (choice1,choice2){
        if(choice1 === choice2){
            alert ("You tied!");
        }
        if(choice1 === "rock"){
            if(choice2 === "scissors"){
                alert ("Your opponent played scissors. You won :D")
            }
            if(choice2 === "paper"){
                alert ("Your opponent played paper. You lost :(")
            }
        }
        if(choice1 === "paper"){
            if(choice2 === "rock"){
                alert ("Your opponent played rock. You won :D")
            }
            if(choice2 === "scissors"){
                alert ("Your opponent played scissors. You lost :(")
            }
        }
        if(choice1 === "scissors"){
            if(choice2 === "paper"){
                alert ("Your opponent played paper. You won :D")
            }
            if(choice2 === "rock"){
                alert ("Your opponent played rock. You lost :(")
            }
        }
    };
    compare(userChoice,computerChoice)

</script>

</body>

</html>