<!DOCTYPE html>
<html lang="en">
{% include "layouts/base.html" %}
<style>
    div {text-align: center; vertical-align: center}
</style>
<head>
{% set AWAKEIMG = img1 %}
{% set SLEEPIMG = img2 %}
{% set AWAKEMSG = "Sleep" %}
{% set SLEEPMSG = "Unsleep" %}
    <meta charset="UTF-8">
    <title>Sleeping Simulator</title>
    <script>
        function changeSleep() {
            const image = document.getElementById('pic');
            const butt = document.getElementById('butt');
            if (image.src.match("{{ AWAKEIMG }}")) {
                image.src = "{{ SLEEPIMG }}";
                butt.innerHTML = "Click to {{ SLEEPMSG }}";
            } else {
                image.src = "{{ AWAKEIMG }}";
                butt.innerHTML = "Click to {{ AWAKEMSG }}";
            }
        }
    </script>
</head>
<body>

<div>
    <td><img onclick="changeSleep()" class="img-responsive py-3" id="pic" src="{{ SLEEPIMG }}" alt="" width="500" height="Auto">
    </td>
    <p id="butt">Click to {{ SLEEPMSG }}</p>
</div>

</body>
</html>