<!-- Extending the predefined project layout -->
<!-- Custom file for standardizing Project Data
This HTML is setup as as a Jinja2 layout, coders use layouts for:
 ... standardization of style
 ... setting expectations for data
 ... code reuse
-->
<!DOCTYPE HTML>
<html lang="en">
{% include "layouts/base.html" %}

<head>
    <title>Playground | Games </title>
</head>

<body>

    <div class="container p-3 my-3 bg-dark text-light rounded">
{#        <p style="color:lime">T:\Green\G1></p> <input name="command" id="command">#}
{#        <input type="submit" value="enter">#}

        <form action="" id="input" method="POST">
            <label for="commandInputId" style="color:lime">T:\Green\G1></label>
            <input name="commandInput" id="commandInputId" type="text" class="input-box bg-dark" style="color:lime" autocomplete="off">
        </form>

        <div>
            <br>
            <h6 style="color:lime">{{ commandOutput1 }}</h6>
            <h6 style="color:lime">{{ commandOutput2 }}ㅤ</h6>
            <h6 style="color:lime">{{ commandOutput3 }}ㅤ</h6>
            <h6 style="color:lime">{{ commandOutput4 }}ㅤ</h6>
        </div>
    </div>

    <div class="container p-3 my-3 bg-light text-black rounded">
        <h5>README.txt</h5>
        <p>Hello Agent G1. Your task is to secure this terminal and prevent information leaks.<br>At the same time, if you can find any information from competitors, don't be afraid to snoop around and record anything you find.</p>
        <p>In case you forget how to operate this terminal, a list of commands has been provided below. Good luck.<br>P.S. Your password is "password". Keep it secure.</p>
        <br>
        <h5>List of Commands</h5>
        <h6>echo - Tests terminal functionality.</h6>
        <br>
        <h6>viewport - Lists out available terminals and port information.</h6>
        <h6>connect [port] - Attempts to connect to the port.</h6>
        <br>
        <h6>scan - Displays files within the system.</h6>
        <h6>display [filename] - Reads the requested file.</h6>
        <h6>run [filename] - Executes the requested file.</h6>
    </div>

</body>

</html>
